.contact-info {
    display:flex;
    font-size: medium;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info span {
    padding-right: 20px;
}

.contact-info span a {
    color: #61dafb;
    text-decoration: none;
}

.avatar {
    margin-bottom: 30px;
}

.skills {
    margin-top: 5%;
    display: block;
    font-size: medium;
    padding:0 8% 0% 8%;
}

.container {
    display:flex;
    font-size: medium;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3%;
}
.container div {
    min-width: 200px;
    max-width: 400px;
    max-height: 300px;
    overflow-y: scroll;
}
.experience{
    padding-left: 4%;
}

.experience ul {
    text-align: left;
}
.experience ul li {
    padding-bottom: 10px;
}
.experience p {
    font-style: italic;
    font-size: small;
}
.education {
    padding-left: 10%;
    padding-right: 4%;
}

.education p {
    font-style: italic;
    font-size: small;
}

footer{
    color: lightslategrey;
    font-size: smaller;
}
